<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${games != null}">
  <h2>검색 결과</h2>
  <div th:if="${message != null}">
    <p style="color:red;" th:text="${message}"></p>
  </div>
  <div th:each="game : ${games}">
    <span th:text="${game.idx}"></span>
    <a th:href="@{/game/{idx}(idx=${game.idx})}"><span th:text="${game.title}"></span></a>
    <span th:text="${game.genre}"></span>
    <span th:text="${game.price}"></span>
    <a th:href><img th:src="${game.img}" width="50" height="50"/></a>
    <a th:href="@{/game/delete/{idx}(idx=${game.idx})}">삭제</a>
    <a th:href="@{/game/updateform/{idx}(idx=${game.idx})}">수정</a>
  </div>
</div>
</body>
</html>