<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Results</title>
</head>
<body>

<h1>검색 결과</h1>

<a href="/game">[HOME]</a>

<!-- 검색 폼 -->
<form action="/game/search" method="get">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" th:value="${param.title}" placeholder="Enter title">

  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" th:value="${param.genre}" placeholder="Enter genre">
<hr>
  <label for="minPrice">Min Price:</label>
  <input type="number" id="minPrice" name="minPrice" th:value="${param.minPrice}" step="0.01" placeholder="0.00">

  <label for="maxPrice">Max Price:</label>
  <input type="number" id="maxPrice" name="maxPrice" th:value="${param.maxPrice}" step="0.01" placeholder="100.00">

  <button type="submit">검색</button>
</form>

<!-- 검색 메시지 -->
<div th:if="${message != null}">
  <p style="color:red;" th:text="${message}"></p>
</div>

<!-- 검색 결과 리스트 -->
<div th:each="game : ${games}">
  <div>
    <span>ID: <span th:text="${game.idx}"></span></span>
    <a th:href="@{/game/{idx}(idx=${game.idx})}">
      <span th:text="${game.title}"></span>
    </a>
    <span>Genre: <span th:text="${game.genre}"></span></span>
    <span>Price: <span th:text="${game.price}"></span></span>
    <a th:href><img th:src="${game.img}" width="50" height="50"/></a>
  </div>
  <div>
    <a th:href="@{/game/delete/{idx}(idx=${game.idx})}">삭제</a>
    <a th:href="@{/game/updateform/{idx}(idx=${game.idx})}">수정</a>
  </div>
</div>

</body>
</html>
