<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/game/update" th:object="${game}" >
    idx <input th:field="*{idx}" readonly> <br/>
    타이틀 <input style="width:280px" th:field="*{title}"> <br/>
    장르 <input th:field="*{genre}"> <br/>
    가격 <input th:field="*{price}"> <br/>
    내용 <textarea th:field="*{content}" rows="5" cols="40">
            </textarea><br/>
    이미지 <input th:field="*{img}"> <br/>
    리뷰
    <ul>
        <li th:each="review : ${reviews}">
            <span th:text="${review.comment}"></span>
            <span th:text="' by ' + ${review.reviewerName}"></span>
            <a th:href="@{/game/deleteReview/{reviewIdx}(reviewIdx=${review.review_id})}">[삭제]</a>
        </li>
    </ul>

    <input type="submit" value="수정"/>
</form>


</body>
</html>